p {
	font-size: 20px;
	color: blue;
}
.me {
	background-image:url(http://www.hudumakenya.go.ke/img/slideshow/large/boat.jpg);
	background-size: cover;
}
nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#text {
	color: coral;
}
.item {
	position:sticky;
	display: inline-block;
}
#software {
	color:red;
	position: absolute;
	margin-top: -360px;

	font-size: 30px;
	text-align: center;
}
#rtd {
	color:red;
	position: absolute;
	margin-top: -390px;
	margin-left:300px;
	font-size: 30px;
	text-align: center;
}
#container {
	margin: 20px 80px 20px 80px;
}
.summary {
	color: chocolate;

}
.background {
	color:sienna;
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	
	font-size: 20px;
}
#footer {
	text-align: center;
	table-layout: auto;
	font-family: viga;
}
<!-- Center the image -->
<style scoped>
.item img{
    margin: 0 auto;
}
</style>
