#container{
	background-color:aliceblue;
}
nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#container1{
	display: flex;
	align-items: center;
	text-align: center;
}
#welcome{
	background-image: url(http://powerpictures.crystalgraphics.com/photo/abstract_computer_keyboard_cg4p36734c_th.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin-left:auto;
	margin-right:auto;
	color: white;
	height: 400px;
}

#container2{
	display: flex;
	align-items: center;
	text-align: center;
}
#education_heading{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
#education{
	background-image:url(assets/c_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:400px;;
	display: block;
	margin-left:auto;
	margin-right:auto;
	color: white;
}
#container3{
	display: flex;
	align-items: center;
	text-align: center;
}
#container4{
	display: flex;
	align-items: center;
	text-align: center;
}
#port_heading{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
#container5{
	display: flex;
	align-items: center;
	text-align: center;
}
#gnome{
	background-image:url(assets/c_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin-left:auto;
	margin-right:auto;
	color: white;
}
