table, th {
    border: 1px solid black;
}
#menu {
    margin-top: 30px;
    background-color: bisque;
}
#last_div {
    background-color: chocolate;
}
#footer {
    background-color: green;
    text-align: center;
}
